/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

* {box-sizing:border-box;}

/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe,
section,
embed,
video {
max-width:100%;
}

/* conserver le ratio des images */
img {
height:auto;
}

/* gestion des mots longs */

textarea,
table,
td,
th,
code,
pre,
samp {
hyphens:auto;
word-wrap:break-word; /* passage à la ligne forcé */
}

code,
samp {
white-space:pre-wrap; /* passage à la ligne spécifique pour les éléments à chassefixe */
}

body {
margin:auto 0;
padding:0;
font-family:"Helvetica Neue LT Std 55 Roman", Helvetica, Arial, sans-serif;
font-style:normal;
text-align:center;
color:#000;
font-size:8vw;
}

svg {
fill:currentColor;
}
/* masquer les éléments superflus */
.p-honorific-prefix,.p-tel > .type {
display:none !important;
}

h1 {
  font-size: 10vw;
}
.logo {
display:block;
margin:0 auto;
width:50vw;
}

ul {
position: relative;
list-style-type:none;
display:block;
margin:0 auto 1em;
width:100%;
padding:0 0 0 1vw;
}

.h-card {
position: relative; /* pour que le lien se cale sur le li */
display:block;
background-color:#0060ae;
color:#fff;
font-size: 7vw;
font-weight: 500;
text-align:left;
height:18vw;
padding:1vw 0 1vw 2vw;
margin:1vw 0 auto;
border-radius: 0 9vw 9vw 0;
width:100%;
}
.h-card a {
position: absolute;
top: 0; left: 0; bottom: 0;
color:#fff;
display: block;
width:100%;
padding:9vw 0 0 2vw;
text-decoration: none;
border-radius:0 9vw 9vw 0;
letter-spacing: .5vw;
text-align: left;
}

/* Survol */
.h-card a:hover,.h-card a:active {
background-color: #88898C;
padding-top:5vw
}
}
